@import "../../../common/styles/variables";
@import "../../../common/styles/das-style";


:host {
  display: block;
}

.gridster {
  background-color: $main-background-color;

}



::ng-deep {
  .gridster-column, .gridster-row{
    border-color: $gray-400 !important;
  }

  .gridster-preview {
    box-shadow: $box-shadow-lg;
    border: 2px dashed $gray-500;
    background-color: $gray-100;
  }

}


.title{
  cursor: hand;
}

