<div class="toolbar dashboard-setting-toolbar ">
  <span class="toolbar-button" (click)="toggleDashboardSettingVisibility()">
    <i-feather name="settings"></i-feather>
    <span class="ps-1">Dashboard Settings</span>
  </span>

</div>
<das-dashboard-setting></das-dashboard-setting>



<gridster [options]="options" class="p-0 m-0 gridster" #gridsterComponent>
  <gridster-item #gridsterItemComponent
                 [item]="item" *ngFor="let item of dashboardService.widgetOptions;"
                 class="gridster-item rounded">
    <ng-container das-dashboard-widget-dynamic-loader [widgetOption]="item"></ng-container>

  </gridster-item>

</gridster>



