/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "bootstrap";
@import "bootstrap/scss/variables";
@import "ag-grid-community/styles/ag-grid.css";
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import '@angular/material/prebuilt-themes/azure-blue.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

// Added by angular material
// ng add @angular/material
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
