

  <p-card header="Horizontal Form" class="row m-3 mt-5 w-50">
    <das-comp-form-horizontal></das-comp-form-horizontal>
  </p-card>

  <p-card header="Floating Label Form" class="row m-3 w-75">
    <das-comp-floating-label-form></das-comp-floating-label-form>
  </p-card>





