version: '3.4'

services:
  dashboard-starter-ui:
    container_name: dashboard-starter-ui
    image: ${IMAGE:-dashboard-starter-ui}:${TAG:-develop}

    build:
      context: .
      dockerfile: Dockerfile


    ports:
      - 4201:80
