@import "../../../common/styles/variables";

:host {
  display: block;
  height: 100%;
}


.main-container{
  background-color: white;
  height: 100%;

  .animate-box-container{
    border: 1px solid $secondary;
    height: 20rem;
    width: 10rem;
  }

  .animate-box{
    height: 5rem;
    width: 5rem;
    border: 2px solid $secondary;

  }
}
