@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

// common
$main-background-color:#eaedf1;
$disabled-color: $gray-600;


// Somehow bootstrap variables doesn't define $font-weight-medium,
// though docs have it
// https://getbootstrap.com/docs/5.3/utilities/text/#font-weight-and-italics
$font-weight-medium: 500;


$sidebar-width: 15rem;
$sidebar-background-color: #3c4b64 ;



// block
$block-title-background-color: #edecec;
