@import "variables";

.toast-container {
  width: 100%;
}

.ngx-toastr {
  width: 500px !important; // Specify toastr-dialog width for all devices
}


.rotate-90 {
  transform: rotate(90deg);
}


.toolbar {
  margin-bottom: 0.25rem;
  .btn {
    padding: 0.4rem;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 0;


    &:hover {
      cursor: pointer;
      border-color: transparent;
      background: $gray-300;

    }

  }
}

