@import "variables";


.toolbar-button {
  height: 2rem;
  width: 2rem;

  padding: 0.4rem;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

  &:hover {
    cursor: pointer;
    border-color: transparent;
    background: $gray-300;


  }
}

