<p-dialog [style]="{width:'90%', height:'80%'}"
          header="House Market Search"
          (onHide)="onHide()"
          [(visible)]="isVisible">

  <das-house-market-query-builder #queryBuilderComponent
                                  class="h-100"
                                  [query]="query"></das-house-market-query-builder>

  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-primary" (click)="applySetting()">Apply</button>
    <button type="button" class="btn btn-secondary" (click)="onHide()">Cancel</button>
  </ng-template>
</p-dialog>
