@import "../../common/styles/das-style";

:host {
  display: block;

}


.header {
  height: 3rem;
  border: 1px solid $gray-500;
  background-color: white;

  .title{
    cursor: pointer;
  }


  .github-icon{
    height: 3rem;
    width: 3rem
  }
}
