@import "../../common/styles/variables";

:host {
  display: block;

}


.header {
  height: 3rem;
  border: 1px solid $gray-500;
  padding: 1rem 1rem 1rem 1rem;
  background-color: white;
  // prevent selection
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .menu {
    cursor: pointer;
    font-size: 1.2rem;
  }
}
