@for (option of options; track option.id) {
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox"
         [id]="option.name"
         [checked]="isChecked(option.id)"
         [value]="option.id"
         (change)="onCheckboxChange($event)">
    <label class="form-check-label" [for]="option.name">{{ option.name }}</label>
  </div>
}

