<das-widget-core #widgetCoreComponent class="h-100" [widgetOption]="widgetOption">

  <ng-template #frontTemplate let-ctx>
    <das-dv-housing-market-widget-pie #pieComponent
                                      [widgetOption]="ctx.widgetOption"
                                      [dataSource]="dataSource"></das-dv-housing-market-widget-pie>

  </ng-template>

  <ng-template #backTemplate let-ctx>
    <das-dv-housing-market-widget-grid [dataSource]="dataSource">

    </das-dv-housing-market-widget-grid>

  </ng-template>


  <ng-template #settingTemplate let-ctx>
    <das-dv-housing-market-widget-setting [widgetOption]="ctx.widgetOption"></das-dv-housing-market-widget-setting>
  </ng-template>
</das-widget-core>

<das-spinner [spinnerId]="SPINNER_ID"></das-spinner>
