<div cdkDrag *ngIf="dashboardService.isSettingVisible"
     class="dashboard-setting card d-flex flex-column" >
  <div class="header  p-2 border-bottom d-flex flex-row">
    <div class="fs-6 fw-bold flex-grow-1">Dashboard Settings </div>

    <div class="toolbar">
      <div class="toolbar-button" (click)="hide()">
        <i-feather name="x"></i-feather>
      </div>
    </div>

  </div>
  <div class="body flex-grow-1"></div>
  <div class="footer text-end p-2 border-top ">

    <button class="btn btn-primary m-1">Reset</button>
    <button class="btn btn-primary m-1" (click)="save()">Save</button>
    <button class="btn btn-secondary" (click)="hide()">Close</button>
  </div>


</div>



