:host {
  display: block;
  height: 100%;
  background-color: white;
}


.item {
  height: 2rem;

  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

