<form class="container-fluid form-row"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()">


  <fieldset>
    <legend>Account Detail</legend>
    <div class="form-group  mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="username">User Name</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" id="username"
               formControlName="username">
        <small class="form-text text-muted">Username cannot be changed.</small>
      </div>
    </div>

    <div class="form-group mb-3 row ">
      <label class="col-sm-4 col-form-label text-end" for="displayName">Display Name</label>
      <div class="col-sm-8">
        <input type="text" id="displayName" class="form-control"
               formControlName="displayName">
        <small class="form-text text-muted">Display name update is disabled.</small>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <label class="col-sm-4 text-end col-form-label" for="email">* Email</label>
      <div class="col-sm-8">
        <input type="email" id="email" class="form-control" placeholder="Enter Email"
               [ngClass]="{'is-invalid': this.email?.invalid && this.email?.touched}"
               formControlName="email">
        @if (email?.errors?.['email'] && this.email?.touched) {
          <small class="invalid-feedback">Invalid email format</small>
        }
        @if (email?.errors?.['required'] && this.email?.touched) {
          <small class="invalid-feedback">Required</small>
        }
      </div>
    </div>

    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="password">* Password</label>
      <div class="col-sm-8">
        <input type="password" id="password" class="form-control"
               placeholder="Enter Password"
               formControlName="password"
               [ngClass]="{'is-invalid': this.password?.invalid && this.password?.touched}">
        <small class="invalid-feedback">Required</small>
      </div>
    </div>

    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="confirmPassword">* Confirm Password</label>
      <div class="col-sm-8">
        <input type="password" id="confirmPassword" class="form-control"
               placeholder="Re-enter Password"
               [ngClass]="{'is-invalid': confirmPassword?.invalid && this.confirmPassword?.touched}"
               formControlName="confirmPassword">
        @if (confirmPassword?.errors?.['required'] && this.confirmPassword?.touched) {
          <small class="invalid-feedback">Required</small>
        }
        @if (confirmPassword?.errors?.['passwordMismatch'] && this.confirmPassword?.touched) {
          <small class="invalid-feedback">Passwords do not match</small>
        }
      </div>
    </div>


    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="dropDownList">Subscription</label>
      <div class="col-sm-8">
        <select id="dropDownList" name="dropDownList" class="form-control" size="1"
                formControlName="subscription">
          <option value="0">None</option>
          <option value="1">Premium</option>
          <option value="2">Basic</option>
          <option value="3">Free</option>
        </select>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <span class="col-sm-4 col-form-label text-end">Favorite Language</span>
      <div class="col-sm-8 pt-2">
        <div class="form-check form-check-inline">
          <input type="radio" id="language-english-us" value="0"
                 formControlName="favoriteLanguage" class="form-check-input">
          <label class="form-check-label" for="language-english-us">English (US)</label>
        </div>


        <div class="form-check form-check-inline">
          <input type="radio" id="language-english-uk" value="1"
                 formControlName="favoriteLanguage" class="form-check-input">
          <label class="form-check-label" for="language-english-uk">English (UK)</label>
        </div>


        <div class="form-check form-check-inline">
          <input type="radio" id="language-english-fr" value="2"
                 formControlName="favoriteLanguage" class="form-check-input">
          <label class="orm-check-label" for="language-english-fr">French</label>
        </div>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <span class="col-sm-4 col-form-label text-end">Investments</span>
      <div class="col-sm-8 pt-2">
        <das-comp-checkbox-group [options]="investmentProducts"
                                 formControlName="selectedProducts">


        </das-comp-checkbox-group>
      </div>
    </div>

    <div class="form-group row  justify-content-end">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-sm btn-primary me-2">Submit</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="onReset()">Reset</button>
      </div>
    </div>
  </fieldset>
</form>


