@import "../../../common/styles/das-style";


:host {
  display: flex;
  flex-direction: column;
  flex:1;
}

.gridster {
  background-color: $main-background-color;

}


::ng-deep {
  .gridster-column, .gridster-row {
    border-color: $info !important;
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
  }

  .gridster-preview {
    box-shadow: $box-shadow-lg;
    border: 2px dashed $gray-500;
    background-color: $gray-100;
  }
}


.title {
  cursor: hand;
}

.dashboard-setting-toolbar {
  position: absolute;
  right: 1rem;
  top: 3.5rem;
}
