@import "./common/styles/variables";

:host{
  width: 100%;
  height: 100%;
  background-color: $main-background-color;

  display: flex;
  flex-direction: column;
  .main-container {
    flex: 1;
  }

}



.main-content {
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}
