<div class="h-100 w-100 d-flex flex-column"
     (mouseenter)="isToolbarHidden=false"
     (mouseleave)="isToolbarHidden=true">


  <div class="fw-semibold bg-light d-flex flex-row w-100 header">
    <div class="title drag-handler p-2 fw-bold user-select-none flex-grow-1">
      {{widgetOption.title}}</div>
    <div class="toolbar" [hidden]="isToolbarHidden">
      <i-feather name="repeat" class="toolbar-button" tabindex="0"
                 *ngIf="widgetOption.isShowFlipButton"
                 pTooltip="Flip" tooltipPosition="bottom"
                 (click)="flip()"
                 (keydown)="onEnterKeyDown($event, flip)">
      </i-feather>

      <i-feather name="rotate-cw" class="toolbar-button" tabindex="0"
                 pTooltip="Refresh" tooltipPosition="bottom"
                 (click)="refresh()"
                 (keydown)="onEnterKeyDown($event, refresh)">
      </i-feather>


      <i-feather name="settings" class="toolbar-button" tabindex="0"
                 pTooltip="Setting" tooltipPosition="bottom"
                 (click)="showSettingModal()"
                (keydown)="onEnterKeyDown($event, showSettingModal)">
      </i-feather>


      <i-feather name="x" class="toolbar-button" tabindex="0"
                 pTooltip="Remove" tooltipPosition="bottom"
                 (click)="remove()"
                  (keydown)="onEnterKeyDown($event, remove)">
      ></i-feather>
    </div>

  </div>

  <div class="flex-grow-1  d-flex flex-column p-2"
       [@flip]="widgetOption.isFrontShown? 'shown':'hidden'"
       [ngClass]="{'d-flex flex-column justify-content-center align-items-center': widgetOption.isFrontShown}"
       [hidden]="!widgetOption.isFrontShown">
    <ng-container *ngTemplateOutlet="frontTemplate; context:{$implicit: {widgetOption}}"></ng-container>

  </div>


  <div class="flex-grow-1 d-flex flex-column p-2"
       [@flip]="widgetOption.isFrontShown? 'hidden':'shown'"
       [ngClass]="{'d-flex flex-column justify-content-center align-items-center': !widgetOption.isFrontShown}"
       [hidden]="widgetOption.isFrontShown">
    <ng-container *ngTemplateOutlet="backTemplate; context:{$implicit: {widgetOption}}"></ng-container>
  </div>

  <div [hidden]="!isSettingVisible">
    <ng-template *ngTemplateOutlet="settingTemplate; context:{$implicit: {widgetOption}}"></ng-template>
  </div>


</div>


