<div class="d-flex flex-column flex-grow-1">
  <div class="toolbar d-flex flex-row justify-content-end">
    <button type="button" class="btn btn-default btn-sm" (click)="showSearchDialog()">
      <i-feather name="search"></i-feather>
      Search
    </button>


    <button type="button" class="btn btn-default btn-sm" (click)="refresh()">
      <i-feather name="rotate-cw"></i-feather>
      Refresh
    </button>

    <button type="button" class="btn btn-default btn-sm" (click)="export()">
      <i-feather name="external-link"></i-feather>
      Export
    </button>
  </div>
  <das-grid #gridComponent
            class="p-0 m-0 flex-grow-1 d-flex flex-column"
            keyExpr="rowId"
            [rowData]="dataSource"
            [isGroupPanelVisible]="true"
            [isAllowSelect]="true"
            [colDefs]="columns"></das-grid>
</div>


<das-grid-view-search [(isVisible)]="isSearchDialogVisible"
                      [query]="query"
                      (apply)="apply($event)"
></das-grid-view-search>

<das-spinner [spinnerId]="spinnerId"></das-spinner>
