<div class="toolbar m-2">
  <span class="toolbar-button with-label" (click)="showSearchDialog()">
     <i-feather name="search"></i-feather>
    Search
  </span>


  <span class="toolbar-button with-label" (click)="refresh()">
     <i-feather name="rotate-cw"></i-feather>
    Refresh
  </span>

  <span class="toolbar-button with-label" (click)="showColumnChooser()">
     <i-feather name="server"></i-feather>
    Columns
  </span>

  <span class="toolbar-button with-label" (click)="export()">
     <i-feather name="external-link"></i-feather>
    Export
  </span>

</div>

<das-grid #gridComponent
          class="p-0 m-0"
          keyExpr="rowId"
          [dataSource]="dataSource"
          [isGroupPanelVisible]="true"
          [isAllowSelect]="true"
          [columns]="columns"></das-grid>


<das-grid-view-search [(isVisible)]="isSearchDialogVisible"
                      [query]="query"
                      (apply)="apply($event)"
></das-grid-view-search>

<das-spinner [spinnerId]="spinnerId"></das-spinner>
