<div class='h-100 d-flex flex-column'>
  <das-header class='header'></das-header>

  <div class='flex-grow-1 d-flex flex-row'>
    <das-sidebar *ngIf='dasLayoutService.layout.isShowSidebar'
                 [@.disabled]='dasSettingService.isPauseAnimation'
                 @slideInOut class='sidebar h-100'></das-sidebar>

    <div class='flex-grow-1 d-flex flex-column'>
      <das-breadcrumb></das-breadcrumb>
      <div class='ms-3 me-3 mb-3 flex-grow-1 d-flex flex-column'>
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</div>
