<das-widget-setting-core [style]="{width: '50rem', height:'23rem'}"
                         (apply)="onApply()"
                         [widgetOption]="widgetOption">
  <ng-template #contentTemplate>
    <form class="container-fluid" [formGroup]="formGroup">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <div class="mb-3 row">
            <label for="title" class="form-label">Title</label>
            <input type="email" class="form-control" id="title" placeholder="Widget title"
                   formControlName="title">
          </div>

          <div class="mb-3 row">
            <div class="col-12 d-flex flex-row">
              <p-inputSwitch class="me-2"
                             formControlName="isTitleVisible"
                             id="showTitleSwitch"></p-inputSwitch>

              <!-- the id property of p-input should not be set, otherwise clicking label couldn't trigger p-input
                   p-input works only with inputId. -->
              <label class="input-label fw-semibold" for="showTitleSwitch">Show Chart Title</label>
            </div>
          </div>


          <div class="mb-3 row">
            <div class="col-12 d-flex flex-row">
              <p-inputSwitch class="me-2"
                             formControlName="isLegendVisible"
                             Id="showLegendSwitch">
              </p-inputSwitch>

              <label class="input-label fw-semibold" for="showLegendSwitch">Show Chart Legend</label>
            </div>
          </div>
        </div>
      </div>

    </form>
  </ng-template>

</das-widget-setting-core>

