@import "../../common/styles/variables";

:host {
  display: block;
  height: 100%;


}

.sidebar {
  background-color: $sidebar-background-color;
  height: 100%;

  display: block;

  .item-label {
    padding: 1rem 0 1rem 1rem;
    color: $gray-400;
  }

  .child-container {
    background-color: rgba(0, 0, 0, .2);
    color: $gray-400;

    .item-label {
      padding: 0.5rem 0 0.5rem 3rem;
    }

  }
;


  .item-label:hover,
  .is-active {
    color: white;
    background-color: rgba($white, .05)
  }

}

i-feather {
  margin-right: 0.3rem;
}


