<ng-scrollbar visibility="hover" appearance="compact"
              class="sidebar-container d-flex flex-column h-100">
  <cdk-accordion class="sidebar-menu flex-grow-1" [multi]="true">
    <cdk-accordion-item
      *ngFor="let sidebarItem of sidebarService.sidebarItems; let index = index;"
      #accordionItemComponent="cdkAccordionItem"
      [expanded]="sidebarItem.expanded"
      class="accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItemComponent.expanded"
      [attr.aria-controls]="'accordion-body-' + index">


      <div class="ps-0 mb-0">
        <ng-container [ngSwitch]="sidebarItem.type">

          <!-- case:  child template        -->
          <ng-container *ngSwitchCase="sidebarItemTypeEnum.WithChildTemplate">
            <ng-template [ngTemplateOutlet]="expandableItem"
                         [ngTemplateOutletContext]="{$implicit:{accordionItemComponent, sidebarItem}}">
            </ng-template>

            <ng-container *ngIf="accordionItemComponent.expanded">
              <div *ngTemplateOutlet="{chartSetting}[sidebarItem.childTemplate]??null">

              </div>
            </ng-container>
          </ng-container>


          <!-- case:  child items        -->
          <ng-container *ngSwitchCase="sidebarItemTypeEnum.WithChildrenItems">
            <ng-template [ngTemplateOutlet]="expandableItem"
                         [ngTemplateOutletContext]="{$implicit:{accordionItemComponent, sidebarItem}}">

            </ng-template>

            <div *ngIf="accordionItemComponent.expanded"
                 class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0 child-container ">
              <div *ngFor="let childItem of sidebarItem.childItems" class="item-label"
                   [routerLink]="childItem.path"
                   routerLinkActive="is-active">
                <div href="#" class="user-select-none">
                  {{childItem.text}}
                </div>
              </div>
            </div>
          </ng-container>


          <!-- default        -->
          <ng-container *ngSwitchDefault>
            <div [routerLink]="sidebarItem.path" routerLinkActive="is-active"
                 class="item-label user-select-none">
              <div class="align-items-center">
                <i-feather [name]="sidebarItem.icon"></i-feather>
                {{ sidebarItem.text }}
              </div>

            </div>
          </ng-container>

        </ng-container>


      </div>
    </cdk-accordion-item>

  </cdk-accordion>
</ng-scrollbar>

<ng-template #chartSetting>

  <das-sidebar-chart-setting></das-sidebar-chart-setting>
</ng-template>


<ng-template #expandableItem let-ctx>
  <div class="align-items-center item-label user-select-none"
       routerLinkActive="is-active"
       [routerLink]="ctx.sidebarItem.path"
       (click)="toggleAccordionItem(ctx.accordionItemComponent, ctx.sidebarItem)">
    <span>
      <i-feather [name]="ctx.sidebarItem.icon"></i-feather>
      {{ ctx.sidebarItem.text }}
    </span>

    <ng-container *ngIf="ctx.accordionItemComponent.expanded">
      <i-feather name="chevron-down" class="float-end"
      ></i-feather>
    </ng-container>

    <ng-container *ngIf="!ctx.accordionItemComponent.expanded">
      <i-feather name="chevron-left" class="float-end"
      ></i-feather>
    </ng-container>
  </div>
</ng-template>
