<p-dialog [(visible)]="widgetOption.isSettingModalVisible"
          [header]="'Widget Setting - '+ widgetOption.title"
          [modal]="true" [resizable]="false"
          [style]="{width: '50rem', height:'20rem'}"
          (onHide)="hide()"
          appendTo="body">

  <ng-scrollbar class="content">
    <form class="col-md-6 col-sm-12" [formGroup]="formGroup">
      <ng-template *gTemplateOutlet="contentTemplate || defaultTemplate">

      </ng-template>
    </form>
  </ng-scrollbar>


  <ng-template pTemplate="footer">
    <button class="btn btn-primary" (click)="apply()">Save</button>
    <button class="btn btn-secondary" (click)="hide()">Cancel</button>
  </ng-template>
</p-dialog>


<ng-template #defaultTemplate>
  <label for="title" class="form-label">Title</label>
  <input type="email" class="form-control" id="title" placeholder="Widget title"
         formControlName="title">
</ng-template>
