<div class="breadcrumb  p-2">
  <span *ngFor="let breadcrumbItem of breadcrumbService.breadcrumbItems; let last = last" >
    @if(!last){
      <a [routerLink]="breadcrumbItem.path">{{breadcrumbItem.label}} </a>
      <span class="ps-1 pe-1 divider">
        <i-feather name="chevron-right"></i-feather>
      </span>
    }

    <span *ngIf="last" class="last-item">{{ breadcrumbItem.label }}</span>
  </span>
</div>
