<form class="container-fluid" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="name@example.com" formControlName="email" required>
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input autoComplete="hidePassword" matInput
             formControlName="password"
             [type]="hidePassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill" floatLabel="always">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0">
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>


    <mat-form-field [ngClass]="colClass" class="mb-3" hintLabel="Max 10 characters" appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput #input maxlength="10" placeholder="user name" formControlName="username">
      <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
    </mat-form-field>

    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option1">Option #1</mat-option>
        <mat-option value="option2">Option #2</mat-option>
        <mat-option value="option3">Option #3</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>


    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="registrationForm.controls['start'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="registrationForm.controls['end'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>


  <div class="row">
    <mat-form-field [ngClass]="colClass" class="mb-3" appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea rows="5" matInput></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary btn-sm me-2">
        Register
      </button>

      <button type="button" class="btn btn-secondary btn-sm" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</form>
