<button type="button" class="btn btn-primary me-3" (click)="setSize('large')">Large Dialog</button>
<button type="button" class="btn btn-primary me-3" (click)="setSize('medium')">Medium Dialog</button>
<button type="button" class="btn btn-primary" (click)="setSize('small')">Small Dialog</button>


<p-dialog [header]="header" appendTo="body"
          [(visible)]="visible"
          [style]="{width: width, height:'35rem', marginTop:'7rem', marginLeft:'5rem'}">
  <ng-scrollbar appearance="compact" visibility="visible">
    <das-comp-floating-label-form [colClass]="colClass" class="pe-2"></das-comp-floating-label-form>
  </ng-scrollbar>

  <ng-template pTemplate="footer">
    <button type="submit" class="btn btn-sm btn-primary me-2">Submit</button>
  </ng-template>
</p-dialog>


