<form class="container-fluid form-row"
      [formGroup]="registrationForm"
      (ngSubmit)="onSubmit()">

  
  <fieldset>
    <legend>Account Detail</legend>
    <div class="form-group  mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="username">User Name</label>
      <div class="col-sm-8">
        <input type="text" readonly class="form-control-plaintext" id="username" name="username"
               formControlName="username">
        <small class="form-text text-muted">Username cannot be changed.</small>
      </div>
    </div>

    <div class="form-group mb-3 row ">
      <label class="col-sm-4 col-form-label text-end" for="displayName">Display Name</label>
      <div class="col-sm-8">
        <input type="text" id="displayName" class="form-control"
               formControlName="displayName">
        <small class="form-text text-muted">Display name update is disabled.</small>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <label class="col-sm-4 text-end col-form-label" for="email">* Email</label>
      <div class="col-sm-8">
        <input type="email" id="email" class="form-control" placeholder="Enter Email"
               [ngClass]="{'is-invalid': email?.invalid && wasValidated}"
               formControlName="email">
        <small class="invalid-feedback" *ngIf="email?.errors?.['email']">Invalid email format</small>
        <small class="invalid-feedback" *ngIf="email?.errors?.['required']">Required</small>
      </div>
    </div>

    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="password">* Password</label>
      <div class="col-sm-8">
        <input type="password" id="password" class="form-control"
               placeholder="Enter Password"
               formControlName="password"
               [ngClass]="{'is-invalid': password?.invalid && wasValidated}">
        <small class="invalid-feedback">Required</small>
      </div>
    </div>

    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="confirmPassword">* Confirm Password</label>
      <div class="col-sm-8">
        <input type="password" id="confirmPassword" class="form-control"
               placeholder="Re-enter Password"
               [ngClass]="{'is-invalid': confirmPassword?.invalid && wasValidated}"
               formControlName="confirmPassword">
        <small class="invalid-feedback" *ngIf="confirmPassword?.errors?.['required']">Required</small>
        <small class="invalid-feedback" *ngIf="confirmPassword?.errors?.['passwordMismatch']">
          Passwords do not match
        </small>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <label class="col-sm-4 col-form-label text-end" for="dropDownList">Subscription</label>
      <div class="col-sm-8">
        <select id="dropDownList" name="dropDownList" class="form-control" size="1"
                formControlName="subscription">
          <option value="0">None</option>
          <option value="1">Premium</option>
          <option value="2">Basic</option>
          <option value="3">Free</option>
        </select>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <span class="col-sm-4 col-form-label text-end">Favorite Language</span>
      <div class="col-sm-8 pt-2">
        <label class="me-3" for="language-english-us">
          <input type="radio" id="language-english-us" value="0"
                 formControlName="favoriteLanguage">
          English (US)
        </label>
        <label class="me-3" for="language-english-uk">
          <input type="radio" id="language-english-uk" value="1"
                 formControlName="favoriteLanguage">
          English (UK)
        </label>
        <label class="me-3" for="language-english-fr">
          <input type="radio" id="language-english-fr" value="2"
                 formControlName="favoriteLanguage">
          French
        </label>
      </div>
    </div>


    <div class="form-group mb-3 row">
      <span class="col-sm-4 col-form-label text-end">Investments</span>
      <div class="col-sm-8 pt-2">
        @for (item of investmentProducts; track item.id) {
          <label class="me-1" [for]="item.name">{{ item.name }}</label>
          <input class="me-3" type="checkbox"
                 [id]="item.name"
                 [checked]="isProductChecked(item.id)"
                 [value]="item.id"
                 (change)="onProductSelectionChange($event, item.id)">
        }
      </div>
    </div>

    <div class="form-group row  justify-content-end">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-sm btn-primary me-2">Submit</button>
        <button type="reset" class="btn btn-sm btn-warning">Reset</button>
      </div>
    </div>
  </fieldset>
</form>
