<div class="mb-3">
  <label class="form-label me-2" for="amount">Amount</label>
  <p-inputNumber id="amount" inputId="integeronly" [(ngModel)]="amount" [max]="1000000"></p-inputNumber>
  <small class="ps-1">(Max: 1M)</small>
  <button type="button" class="btn btn-primary ms-3" (click)="setAmount()">Reload</button>
</div>

<ng-scrollbar externalViewport cdkVirtualScrollViewport class="card"
              appearance="compact" style="height: 35rem; width: 20rem">
  <cdk-virtual-scroll-viewport class="pb-3"
                               [itemSize]="16"
                               [minBufferPx]="1000"
                               [maxBufferPx]="2000">
    <div *cdkVirtualFor="let item of items" class="item m-2 me-3"> Item # {{ item | number }}</div>

  </cdk-virtual-scroll-viewport>

</ng-scrollbar>

