@import "variables";

.toast-container {
  width: 100%;
}

.ngx-toastr {
  width: 500px !important; // Specify toastr-dialog width for all devices
}


.rotate-90 {
  transform: rotate(90deg);
}


.toolbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 0.5rem;
  margin-right: 0.5rem;

  .toolbar-button {
    align-self: center;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    font-size: 0.3rem;


    &:hover {
      cursor: pointer;
      border-color: transparent;
      background: $gray-300;

    }

  }
}

