@import "../common/styles/variables";


:host {
  display: block;
  height: 100%;
}


.sidebar {
  width: $sidebar-width;
  z-index: $zindex-popover;
}


//.content-container {
//  ::ng-deep {
//    .ng-scroll-viewport {
//      height: 100%;
//
//      .ng-scroll-content {
//        height: 100%;
//        display: flex;
//
//      }
//    }
//
//  }
//}
