<das-auto-size (resized)="onResized($event)">
  <dx-pie-chart #pieChart
                id="pie"
                palette="Soft blue"
                paletteExtensionMode="extrapolate"
                [dataSource]="pieData"
                resolveLabelOverlapping="hide"
                [redrawOnResize]="false"
                [size]="size"

  >
    <dxo-legend
      [visible]="false"
      orientation="vertical"
      itemTextPosition="right"
      horizontalAlignment="center"
      verticalAlignment="bottom"
      [columnCount]="4"
    ></dxo-legend>

    <dxo-export [enabled]="false"></dxo-export>
    <dxi-series argumentField="language" valueField="lines">
      <dxo-label
        [visible]="true"
        [customizeText]="customizeLabel"
      >
        <dxo-font [size]="16"></dxo-font>
        <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
      </dxo-label>
    </dxi-series>
  </dx-pie-chart>
</das-auto-size>

<div class="grid-container">

  <table class="table" aria-label="loc data">
    <thead>
    <tr>
      <th scope="col">Files</th>
      <th scope="col">Lines</th>
      <th scope="col">Blanks</th>
      <th scope="col">Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{total?.files | number}}</td>
      <td>{{total?.lines | number}}</td>
      <td>{{total?.blanks | number}}</td>
      <td>{{total?.comments | number}}</td>
    </tr>

    </tbody>
  </table>


</div>
