<p-dialog [(visible)]="widgetOption.isSettingModalVisible"
          (onShow)="onShow()"
          [header]="'Widget Setting - '+ widgetOption.title"
          [modal]="true" [resizable]="true"
          [style]="style"
          (onHide)="onHide()"
          appendTo="body">

  <ng-template *ngTemplateOutlet="contentTemplate || defaultTemplate">

  </ng-template>

  <ng-template pTemplate="footer">
    <button type="button" class="btn btn-primary me-1" (click)="applySetting()">Apply</button>
    <button type="button" class="btn btn-secondary" (click)="onHide()">Cancel</button>
  </ng-template>
</p-dialog>


<ng-template #defaultTemplate>
  <form class="col-md-6 col-sm-12 h-100" [formGroup]="formGroup">
    <label for="title" class="form-label">Title</label>
    <input type="email" class="form-control" id="title" placeholder="Widget title"
           formControlName="title">
  </form>
</ng-template>
