/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "bootstrap";
@import "bootstrap/scss/variables";


// Added by angular material
// ng add @angular/material
html, body {
  height: 100%;
}

body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
