<das-auto-size (resized)="onResized($event)">

  <canvas class="flex-grow-1"
    baseChart
    [data]="pieChartData"
    [type]="pieChartType"
    [options]="pieChartOptions"
  ></canvas>


  <div class="grid-container">

    <table class="table" aria-label="loc data">
      <thead>
      <tr>
        <th scope="col">Files</th>
        <th scope="col">Lines</th>
        <th scope="col">Blanks</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{ total?.files | number }}</td>
        <td>{{ total?.lines | number }}</td>
        <td>{{ total?.blanks | number }}</td>
        <td>{{ total?.comments | number }}</td>
      </tr>

      </tbody>
    </table>
  </div>

</das-auto-size>
