<ng-scrollbar visibility="hover" appearance="compact"
              class="sidebar-container d-flex flex-column h-100">
  <cdk-accordion class="sidebar-menu flex-grow-1" [multi]="true">
    <cdk-accordion-item
        *ngFor="let sidebarItem of sidebarService.sidebarItems; let index = index;"
        #accordionItemComponent="cdkAccordionItem"
        [expanded]="sidebarItem.expanded"
        class="accordion-item"
        role="button"
        tabindex="0"
        [attr.id]="'accordion-header-' + index"
        [attr.aria-expanded]="accordionItemComponent.expanded"
        [attr.aria-controls]="'accordion-body-' + index">


      <div class="ps-0 mb-0">
        @switch (sidebarItem.type) {
          <!-- case:  child template        -->
          @case (sidebarItemTypeEnum.WithChildTemplate) {
            <ng-template [ngTemplateOutlet]="expandableItem"
                         [ngTemplateOutletContext]="{$implicit:{accordionItemComponent, sidebarItem}}">
            </ng-template>

            @if (accordionItemComponent.expanded) {
              <div *ngTemplateOutlet="{chartSetting}[sidebarItem.childTemplate]??null">

              </div>
            }
          }

          <!-- case:  child items        -->
          @case (sidebarItemTypeEnum.WithChildrenItems) {
            <ng-template [ngTemplateOutlet]="expandableItem"
                         [ngTemplateOutletContext]="{$implicit:{accordionItemComponent, sidebarItem}}">

            </ng-template>

            @if (accordionItemComponent.expanded) {
              <div class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0 child-container ">
                @for (childItem of sidebarItem.childItems; track childItem.path) {
                  <div class="item-label"
                       [routerLink]="childItem.path"
                       routerLinkActive="is-active">
                    <div href="#" class="user-select-none">
                      {{ childItem.text }}
                    </div>
                  </div>
                }
              </div>
            }
          }
          @default {
            <div [routerLink]="sidebarItem.path" routerLinkActive="is-active"
                 class="item-label user-select-none">
              <div class="align-items-center">
                <i-feather [name]="sidebarItem.icon"></i-feather>
                {{ sidebarItem.text }}
              </div>

            </div>
          }
        }
      </div>
    </cdk-accordion-item>

  </cdk-accordion>
</ng-scrollbar>

<ng-template #chartSetting>

  <das-sidebar-chart-setting></das-sidebar-chart-setting>
</ng-template>


<ng-template #expandableItem let-ctx>
  <button type="button" class="btn w-100 align-items-center item-label user-select-none"
          routerLinkActive="is-active"
          [routerLink]="ctx.sidebarItem.path"
          (click)="toggleAccordionItem(ctx.accordionItemComponent, ctx.sidebarItem)">
    <span class="float-start">
      <i-feather [name]="ctx.sidebarItem.icon"></i-feather>
      {{ ctx.sidebarItem.text }}
    </span>

    @if (ctx.accordionItemComponent.expanded) {
      <i-feather name="chevron-down" class="float-end"
      ></i-feather>
    } @else {
      <i-feather name="chevron-left" class="float-end"
      ></i-feather>
    }

  </button>
</ng-template>

