<div class="h-100 d-flex flex-column ">
  <div class="fw-semibold bg-light d-flex flex-row">
    <div class="title drag-handler p-2 flex-grow-1">{{widgetOption.title}}</div>
    <div class="toolbar p-2">
      <i-feather name="repeat" class="toolbar-button" title="Flip" (click)="flip()"></i-feather>
      <i-feather name="rotate-cw" class="toolbar-button" title="Refresh"></i-feather>

      <i-feather name="settings" class="toolbar-button" title="Open Setting"
                 (click)="dashboardService.showWidgetSettingPopup(widgetOption)">
      </i-feather>


      <i-feather name="x" class="toolbar-button" title="Remove"
                 (click)="dashboardService.removeWidget(widgetOption)"></i-feather>
    </div>

  </div>

  <!--  widget content-->
  <div class="flex-grow-1">
    <ng-content select=".widget-front"></ng-content>
    <ng-content select=".widget-back"></ng-content>
  </div>

  <das-dashboard-widget-setting [widgetOption]="widgetOption"></das-dashboard-widget-setting>

  <ng-content #widgetSetting select=".widget-setting"></ng-content>




</div>
