@import "../../../../common/styles/das-style";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.content-container{
  transform-style: preserve-3d;
}

.front{

  //backface-visibility: hidden;
}

.back{
  //backface-visibility: hidden;
  //transform: rotateX(180deg);
}
