<div class="h-100 d-flex flex-column ">
  <div class="fw-semibold bg-light d-flex flex-row">
    <div class="title drag-handler p-2 fw-bold flex-grow-1">{{widgetOption.title}}</div>
    <div class="toolbar p-2">
      <i-feather name="repeat" class="toolbar-button rotate-90" title="Flip"
                 (click)="flip()"></i-feather>

      <i-feather name="rotate-cw" class="toolbar-button" title="Refresh"></i-feather>

      <i-feather name="settings" class="toolbar-button" title="Open Setting"
                 (click)="showSettingModal()">
      </i-feather>


      <i-feather name="x" class="toolbar-button" title="Remove"
                 (click)="dashboardService.removeWidget(widgetOption)"></i-feather>
    </div>

  </div>

  <!--  widget content-->
  <div class="h-100">
    <div class="h-100" [hidden]="!widgetOption.isShowFront"
         [@flip]="widgetOption.isShowFront?'front':'back'">
      <ng-content select=".widget-front" class="h-100"></ng-content>
    </div>

    <div class="h-100" [hidden]="widgetOption.isShowFront"
         [@flip]="widgetOption.isShowFront?'front':'back'">
      <ng-content select=".widget-back" class="h-100"></ng-content>
    </div>

  </div>


  <das-dashboard-widget-setting [(isVisible)]="isSettingVisible"
                                [widgetOption]="widgetOption"></das-dashboard-widget-setting>

  <ng-content #widgetSetting select=".widget-setting"></ng-content>


</div>
